@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ClaimsAuth</h1>
    <p class="lead">The method I explain here will be useful for applications with moderate complexity, which would require an end user (an admin) to define which resources a particular user has access to. Since I could not find any existing projects with what I want, I bootstrapped my own. I realized that a lot of people want to build something like this, but there are no available resources. Also, please, not that, there is a lot of room for improvement. I will be updating the github repo as I develop the blog post series.</p>
    <p><a href="http://blog.dinklabs.com/2015/11/mvc-fine-grained-identity-access-control-1.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Getting started</h2>
        <p>
            <ol>
                <li>@Html.ActionLink("Sign Up/Register", "Register", "Account")</li>
                <li>Go to @Html.ActionLink("Users", "Index", "Security") section</li>
                <li>Create @Html.ActionLink("User Groups", "Groups", "Security")</li>
                <li>Assign @Html.ActionLink("Users to Groups", "Associations", "Security")</li>
                <li>Setup @Html.ActionLink("Global Permissions", "Global", "Permissions")</li>
                <li>Select a user and @Html.ActionLink("Setup Group Permissions", "Group", "Permissions")</li>
                <li>Login and test</li>
            </ol>
        </p> 
    </div>
  
</div>